* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* common shared styles */
.heading-font {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.descriptive-font {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: white;
    border: 0;
}

/* Nav related styles */
.orange {
    color: #FF5400
}

.name {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #424247;
}

nav ul {
    display: flex;
    gap: 44px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header related styles */

select,
input[type="text"] {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: white;
    border: 0;
}

button a {
    text-decoration: none;
    color: white
}

.banner-selection-input {
    background-color: rgba(255, 255, 255, 0.264);
    padding: 16px;
    margin: 0 185px 0;
    width: auto;
    height: auto;
    border-radius: 10px;
    display: flex;
    gap: 25px;
}

.banner-heading {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    border-radius: 12px;
}

.banner-texts-inputs {
    text-align: center;
    padding: 106px 0 0 0;
    margin-top: 50px;
}

.banner-description {
    width: 676px;
    text-align: center;
    margin: 25px auto 50px;
    color: white;

}

/* Main related styles */
/* Popular-tour section */

.popular-tour-description {
    padding: 24px 0;
    width: 530px;
}

.popular-tour-heading {
    font-size: 40px;
}

.read-more-btn {
    font-size: 20px;
}

.popular-tour {
    display: flex;
    gap: 100px;
    margin-top: 100px;
    align-items: center;
}

.popular-tour-image img {
    width: 100%;
}

.popular-tour-image {
    width: 1767px;
    height: 560px;
}

/*Destination section styles  */
.destination-heading {
    font-size: 40px;
    margin-top: 100px;
    padding-bottom: 24px;
}

.destination-description {
    width: 640px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    padding-bottom: 50px;
}

.destination-caption {
    text-align: center;
}

.pictures {
    position: relative;
    background-image: linear-gradient(90deg, rgba(19, 19, 24, 0.492) 100%, rgba(19, 19, 24, 0.886) 100%);
    border-radius: 16px;
}

.place-name {
    position: absolute;
    top: 46%;
    left: 35%;
    color: #FFF;
    font-size: 28px;
}

.destination-pictures img {
    width: 100%;
    height: 100%;
}

.pic-1 {
    grid-area: maldives;
}

.pic-2 {
    grid-area: indonesia;
}

.pic-3 {
    grid-area: srilanka;
}

.pic-4 {
    grid-area: america;
}

.pic-5 {
    grid-area: kashmir;
}

.pic-6 {
    grid-area: bangladesh;
}

.pic-7 {
    grid-area: bandarban;
}

.destination-pictures {
    display: grid;
    grid-template-areas:
        "maldives    maldives   indonesia  indonesia"
        "srilanka    america    america    kashmir"
        "bangladesh  bangladesh  bandarban  bandarban"
    ;
    gap: 22px;
}

/* Choose section */

.choose-texts {
    margin-top: 100px;
    text-align: center;
}

.choose-description {
    padding-top: 20px;
}

.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 565px;
    height: 284px;
    padding: 15px;
}

.card-2 {
    width: 565px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 15px;

}

.card-4 {
    width: 565px;
    height: 284px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    border-radius: 16px;
    padding: 15px;
}

.card-4 {
    margin: 22px auto;

}

.card-heading {
    font-size: 24px;
    padding-top: 30px;
}

.card-description {
    width: 486px;
    padding-top: 15px;
}

.cards {
    display: flex;
    gap: 22px;
}


/* deals detail section */
.deals-discount-texts {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
}

.deals-icons {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.deals-discount-image {
    background-image: url(./Images/Group\ 39.png);
    height: 500px;
    position: relative;
    margin-top: 25px;
}

.deals-discount-image-2 {
    background-image: url(./Images/Group\ 40.png);
    height: 500px;
    position: relative;
    border-radius: 12px;
    margin-top: 24px;
}

.deals-details {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.705);
    width: 579px;
    height: 355px;
    border-radius: 11px;
    top: 12%;
    left: 45%;
    padding: 40px 0 0 50px;
}

.deals-details-2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.705);
    width: 579px;
    height: 355px;
    border-radius: 11px;
    top: 12%;
    right: 45%;
    padding: 40px 0 0 50px;
}

.deals-details-heading {
    padding: 21px 0;
}

.deals-details-description {
    padding: 15px 0;
}

.deals-details-price {
    padding-bottom: 25px;
}

.deals-discount-description {
    margin: 10px 0 30px 0;
}

.packages-btn {
    font-size: 20px;
    font-weight: 700px;
    margin: 10px auto;
}

/* perfect-place-section-styles */
.perfect-place-section {
    display: flex;
    margin-top: 100px;
    gap: 45px;
}

.perfect-place-heading {
    font-size: 40px;
    font-weight: 800;
}

.perfect-place-description {
    padding: 25px 0;
}

.perfect-place ul li {
    padding: 10px 0;
}

.see-more-btn {
    margin-top: 15px;
    font-size: 20px;
}

.perfect-place-picture {
    position: relative;
    width: 1200px;
}

.perfect-place-picture video {
    width: 100%;
    border-radius: 16px;
}

.text-for-the-middle {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    width: 276px;
    text-align: center;
    bottom: 40%;
    left: 28%;
    color: #FFF;
}

.newsletter {
    display: flex;
    gap: 25px;
    margin-top: 100px;
}

.newsletter-header {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.newsletter-description {
    padding: 16px 0 35px;
}

.newsletter-form input[type="text"],
input[type="email"] {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin: 16px 0 0;
    border: 0;
}

hr {
    margin-bottom: 10px;
}

.newsletter-form {
    width: 474px;
    height: 310px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 43px;
}

.newsletter-img img {
    width: 100%;
}

.newsletter-img {
    width: 720px;
    position: relative;
}

.sub-btn {
    width: 393px;
    height: 52px;
    margin-top: 8px;
}

.big-text {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
}

.last-text {
    color: #FFF;
    position: relative;
    text-align: center;
    width: 324px;
    height: 120px;
    transform: rotate(-20deg);
    border-radius: 16px;
    background: #FF5400;
    bottom: 36%;
    left: 48%;
    padding-top: 18px;
}
/* footer section */
footer{
    background-color: rgba(19, 19, 24, 0.05); 
}
.footer{
    text-align: center;
    margin: 0 auto;
}
.address{
justify-content: center;
padding:110px 0 18px 0 ;
}
.social-links{
    margin: 30px 0 30px 0;
    display: flex;
    gap: 35px;
    justify-content: center;
}
.copyright{
    padding: 40px 0;
}



















@media screen and (max-width:600px) {

    nav,
    nav ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .banner-texts-inputs {
        text-align: center;
        padding: 3px;
    }

    .banner-selection-input {
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 288px;
        height: 288px;
    }

    .banner-heading {
        font-size: 22px;
        margin-top: 20px;
    }

    .banner-description {
        font-size: 14px;
        text-align: center;
        margin-top: 11px;
        width: 300px;
    }

    select,
    input[type="text"],
    .btn-primary {
        width: 255px;
        height: 52px;
    }

    .banner {
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        width: 335px;
        height: 500px;
    }

    .popular-tour {
        flex-direction: column;
    }

    .popular-tour-image {
        width: 335px;
        height: 342px;
    }

    .popular-tour-description {
        width: 335px;
    }

    .read-more-btn {
        width: 170px;
        height: 50px;
    }

    .destination-pictures {
        grid-template-areas:
            "maldives"
            "indonesia"
            "srilanka"
            "america"
            "kashmir"
            "bangladesh"
            "bandarban"
        ;
    }

    .destination-pictures img {
        width: 100%;
    }

    .destination-description {
        width: 200px;
    }

    /* cards section */
    .choose-description {
        padding-bottom: 25px;
    }

    .cards {
        flex-direction: column;
    }

    .card-1,
    .card-2 {
        width: 335px;
        height: 289px;
    }

    .card-description {
        width: 271px;
    }

    .card-4 {
        width: 335px;
        height: 289px;
    }

    .deals-details {

        position: absolute;
        width: 85%;
        height: 70%;
        padding: 10px 0 0 10px;
        left: 7%;
        top: 27%;
    }

    .deals-details-2 {

        position: absolute;
        width: 85%;
        height: 70%;
        padding: 5px 0 0 5px;
        left: 7%;
        top: 27%;
    }

    .deals-icons {
        flex-wrap: wrap;
    }

    .deals-discount-image,
    .deals-discount-image-2 {
        width: 335px;
        height: 500px;
        background-position: center;
        margin: 20px auto;
        position: relative;
    }

    .perfect-place-section {
        flex-direction: column;
    }

    .perfect-place-picture {
        width: 380px;
        height: auto;
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter-img {
        width: 387px;
    }

    .last-text {
        width: 210px;
        height: 95px;
        padding-top: 1px;
        position: absolute;
        bottom: 20%;
        left: 40%;
    }

    .newsletter-form {
        width: 300px;
        text-align: center;
    }

    .newsletter-form input[type="text"],
    input[type="email"]{
        width: 288px;
    }
}